<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- authors -->
    <meta name="author" content="Caio Matheus dos Santos Abra">
    <meta name="author" content="Danilo Gonçalves de Amorim">
    <meta name="author" content="Rodrigo de Camargo Toledo">
    <meta name="author" content="Stephany Mendes Oliveira">
    <!--  -->
    <title>Alterar Senha</title>
    <!-- icone -->
    <link rel="shortcut icon" type="image/x-icon" href="images/s_v_shield.png">
    <!--  -->
    <link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
    <link href="css/mdb.min.css" rel="stylesheet" type="text/css">
    <!-- meu estilo -->
    <link href="css/partials/submit.css" rel="stylesheet" type="text/css">
    <link href="css/partials/forms.css" rel="stylesheet" type="text/css">
		
		
    <!--  -->
  </head>

<body id="page-give-security">

    <div class="container">
        
        <div class="card rounded-0">
            <div class="card-header p-0 border-0">
                <p>Trocar Senha</p>
            </div>
            <div class="card-body my-3">
                <form>
                    <fieldset>
                        <!-- <div class="form-row"> 
                            <div class="col-md-6 col-lg-2 mb-3 " style="place-self: flex-end;">
                                <button type="submit" class="btn btn-primary btn-rounded m-0 text-lg-center" id="validar" style="width: 100%;">Validar</button>     
                            </div>
                        </div> -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <div class="input-block">
                                    <label for="novaSenha">Nova senha</label>
                                    <input type="password" name="novaSenha" id="novaSenha" required="">
                                </div>
                            </div>
                        </div>

                        <div class="buttons" style="text-align: right;margin-top: 2rem;">
                            <button type="submit" class="btn btn-primary mb-2 btn-rounded" id="cadPorteiro">Trocar Senha</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/00651707e2.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.0.0.js"></script>

 

</body>
</html>