<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- authors -->
  <meta name="author" content="Caio Matheus dos Santos Abra">
  <meta name="author" content="Danilo Gonçalves de Amorim">
  <meta name="author" content="Rodrigo de Camargo Toledo">
  <meta name="author" content="Stephany Mendes Oliveira">
  <!--  -->
  <title>Veículos</title>
  <!-- icone -->
  <link rel="shortcut icon" type="image/x-icon" href="images/s_v_shield.png">
  <!--  -->
  <link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
  <link href="css/mdb.min.css" rel="stylesheet" type="text/css">
  <!-- meu estilo -->
  <link href="css/partials/submit.css" rel="stylesheet" type="text/css">
  <link href="css/partials/forms.css" rel="stylesheet" type="text/css">
  <link href="css/partials/veiculos_dewller.css" rel="stylesheet" type="text/css">
  <!--  -->
</head>
<body>
  <!--Navbar -->
  <nav class="navbar navbar-expand-lg blue-gradient navbar-dark">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/app-moradores">
      <img src="images/s_v_shield.png" alt="Logo">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
          Olá, {%for morador in morador %}
          {{morador.nome}}
          {%endfor%}
        </a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/selecionar-acesso">Trocar o Perfil</a>
          <a class="dropdown-item" href="/">Sair</a>
        </div>
      </li>
    </ul>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <!-- home -->
        <li class="nav-item active">
          <a class="nav-link text-center" href="/app-moradores">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- fim link home -->
        <!-- veículos -->
        <li class="nav-item">
          <a class="nav-link" href="/veiculos">Veículos</a>
        </li>
        <!-- fim link veículos -->
        <!-- Moradores -->
        <li class="nav-item">
          <a class="nav-link" href="/moradores">Moradores</a>
        </li>
        <!-- fim link Moradores -->
        <!-- Encomendas -->
        <li class="nav-item">
          <a class="nav-link" href="/encomendas">Encomendas</a>
        </li>
        <!-- fim link Encomendas -->
        <!-- Prestador de Serviço -->
        <li class="nav-item">
          <a class="nav-link" href="/prestador-de-servico">Prestador de Serviço</a>
        </li>
        <!-- fim link Prestador de Serviço -->
        <!-- Reclamações -->
        <li class="nav-item">
          <a class="nav-link" href="/reclamacoes">Reclamações</a>
        </li>
        <!-- fim link Reclamações -->
        <!-- Avisos -->
        <li class="nav-item">
          <a class="nav-link" href="/avisos">Avisos</a>
        </li>
        <!-- fim link Avisos -->
        <!-- Perfil -->
        <li class="nav-item">
          <a class="nav-link" href="/perfil">Perfil</a>
        </li>
        <!-- fim link Perfil -->
        
      </ul>
      <!-- Links -->
    </div>
    <!-- Collapsible content -->
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <a href="/veiculos-cadastrados">
          <button type="button" class="btn btn-light font-bold">veículos Cadastrados <i class="fas fa-search" aria-hidden="true"></i></button>
        </a>
        </div>
    </div>
    <div class="card mt-1 text-white bg-royal-blue">
      <div class="card-header">
        <p>Veículos</p>
      </div>
      <div class="card-body">
        <form action="/veiculos" id="cadastro-veiculo" method="POST">
          <div class="form-row mb-2">
            <div class="col-12">
              <div class="form-row">
                <div class="col-12 col-md-6">
                  <label for="Time-or-stay" class="font-weight-bold">Cadastrar Veículos</label>
                </div>
                <div class="col-12 col-md-6 text-md-right">
                  <label for="Time-or-stay" class="font-weight-bold">
                    <button type="button" class="btn btn-cyan btn-rounded mb-2 font-weight-bold" id="novoHorario">
                      <i class="fas fa-plus-circle"></i> Mais Veíclos
                    </button>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row border-top pt-3 mt-3 duplic" >
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="type-of-vehicle">Tipo</label>
                  <select class="custom-select" name="tipoVeiculo" id="tipo-veiculo">
                      <option selected disabled>Selecione</option>
                      <option value="1">Carro</option>
                      <option value="2">Moto</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="vehicle-plate">Placa</label>
                  <input type="text" class="form-control" id="placaVeiculo" name="placa" placeholder="Digite sua Placa">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="vehicle-owner">Proprietário</label>
                  <select class="custom-select" name="proprietario" id="proprietario">
                      <option selected disabled>Selecione o proprietario</option>
                     
                      {%for morador in moradores %}
                      <option value={{morador.id_morador}}>
                        {{morador.nome}} {{morador.sobrenome}}
                      </option>
                      {%endfor%}
                      
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="vehicle-model">Modelo do Veículo</label>
                  <input type="text" class="form-control" name="modeloVeiculo" id="modelo-veiculo" placeholder="Digite o modelo">
                </div>
              </div>
          </div>
          <span id="duplic"></span>
          
          
          <div class="form-row">
            <div  class="col-12 text-right">
              <button type="submit" class="btn btn-cyan btn-rounded mb-2 font-weight-bold" id="cadVeiculo">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/00651707e2.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.0.0.js"></script>

  <script>
    document.querySelector('#novoHorario').addEventListener('click', cloneField);
    //executar func
    function cloneField() {
      const newFieldContainer = document.querySelector('.duplic').cloneNode(true)
      const fields = newFieldContainer.querySelectorAll('input')
      fields.forEach(function (field) {
        field.value = ""
      })
      document.querySelector('#duplic').appendChild(newFieldContainer)
    }
  </script>
</body>
</html>