<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Security Vision</title>
    <link rel="icon" type="imagem/png" href="images/s_v_shield.png" />
		

		<link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
		<link href="css/mdb.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin.min.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
		

</head>
<body id="page-landing">
</br>

<div class="container-fluid justify-content-center">
			
  <div class="row justify-content-center" >
    <div class=" col-xs-12 col-sm-11 col-md-11">
    
      <div class="row">
        
          <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="text text-center font-weight-bold" style="font-size: 30px; ">
        <img src="images/security_vision.png" alt="Security Vision">
        
      </div>	
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-3" >
      <div class="card">
         <div class="card-body">
        <a href="/login" class="portaria font-weight-bold" >
            <img src="images/s_v_shield.png" alt="Sistema Portaria">
               
          Portaria
            
           </a>
        </div>	
      </div>	
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3" >
          <div class="card">
         <div class="card-body">
        <a href="/login" class="portaria font-weight-bold" >
            <img src="images/s_v_shield.png" alt="Sistema Síndicos">
                Síndicos
           </a>
        </div>	
      </div>	
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3" >
        <div class="card">
         <div class="card-body">
        <a href="/login" class="portaria  font-weight-bold" >
            <img src="images/s_v_shield.png" alt="Sistema Moradores">
                Moradores
           </a>
        </div>	
      </div>	
    </div>
        
      </div>	
      
    </div>	
  </div>

</div>
  
<script src="https://kit.fontawesome.com/00651707e2.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.0.0.js"></script>
  
</body>
</html>