<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- authors -->
  <meta name="author" content="Caio Matheus dos Santos Abra">
  <meta name="author" content="Danilo Gonçalves de Amorim">
  <meta name="author" content="Rodrigo de Camargo Toledo">
  <meta name="author" content="Stephany Mendes Oliveira">
  <!--  -->
  <title>Login</title>
  <!-- icone -->
  <link rel="shortcut icon" type="image/x-icon" href="images/s_v_shield.png">
  <!--  -->
  <link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
  <link href="css/mdb.min.css" rel="stylesheet" type="text/css">
  <!-- meu estilo -->
  <link href="css/partials/login_dweller.css" rel="stylesheet" type="text/css">
  <!--  -->
</head>
<body class="blue-gradient">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <img src="images/s_v_shield.png" alt="logo" height="80%">
      </div>
      <div class="col-sm-12">
        <h2 class="text-white">Login</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mt-3 text-white bg-royal-blue">
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="login-morador">Login</label>
                    <input type="text" class="form-control" id="login" placeholder="Digite seu login">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="pasword">Senha</label>
                    <input type="password" class="form-control" id="pasword" placeholder="Digite sua senha">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div  class="col-12 text-right">                
                    <button type="submit" class="btn btn-cyan btn-rounded mb-2 font-weight-bold">
                      <a href="/sindico" style="color: #ffff;">Acessar
                    </button></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/00651707e2.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>