<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content=" initial-scale = 1, shrink-to-fit=no">
    <title>SV - Sindico</title>
    <link rel="icon" type="imagem/png" href="images/s_v_shield.png" />
		

		<link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
		<link href="css/mdb.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin.min.css" rel="stylesheet" type="text/css">

    <link href="css/partials/submit.css" rel="stylesheet" type="text/css">
    <link href="css/partials/forms.css" rel="stylesheet" type="text/css">
		
		
	</head>
	
	<body id="page-give-security">
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg blue-gradient navbar-dark">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#"><img src="images/s_v_shield.png" alt=""></a>
      <!-- Sindico X -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
            Olá, {%for sindico in sindico %}
            {{sindico.nome}}
            {%endfor%}
          </a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/trocar-Senha">Alterar Senha</a>
            <a class="dropdown-item" href="/selecionar-acesso">Trocar o Perfil</a>
            <a class="dropdown-item" href="/">Sair</a>
          </div>
        </li>
      </ul>
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/sindico">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- Dropdown Cadastros-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
            <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-label ">Porteiro</span></a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="cadastro-porteiros">Cadastrar Porteiro</a>
                <a class="dropdown-item" tabindex="-1" href="remover-porteiros">Remover Porteiro</a>
              </ul>
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="nav-label ">Proprietários</span></a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="cadastro-proprietarios">Cadastrar Proprietários</a>
              </ul>
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-label ">Síndico/Subsíndico</span></a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="subsindico">Cadastrar Subsíndico</a>
                <a class="dropdown-item" tabindex="-1" href="cadastro-sindico">Cadastrar Novo Síndico</a>
              </ul>
            </div>
          </li>

          <!-- Dropdown Históricos-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Históricos
            </a>
            <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-label ">Correspondências </span>
              </a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="/recebimento-Portaria">Recebimentos e Retiradas</a>
                <!-- <a class="dropdown-item" tabindex="-1" href="/retirada-moradores">Retirada dos Moradores</a> -->
              </ul>
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-label ">Acessos</span>
              </a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="/acessos-agendados">Acessos Agendados</a>
                <a class="dropdown-item" tabindex="-1" href="/entrada-saida">Entrada/Saída </a>
              </ul>
            </div>
          </li>
          <!-- Reclamações-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Reclamações</a>
            <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/consultar-reclamacao">Consultar Reclamações</a>
              <a class="dropdown-item" href="/enviar-avisos">Enviar Avisos</a>
            </div>
          </li>
          <!-- Requerimentos-->
          <li class="nav-item dropdown">
            <a class="nav-link" href="/requerimentos">Requerimentos</a>
          </li>
          <!-- <li class="nav-item dropdown ml-2">
            <a class="nav-link" href="/perfil-acesso-adm">Perfil de acesso <i class="fas fa-book"></i></a>
          </li> -->
        </ul>

      </div>
      <!-- Collapsible content -->
    </nav>

    <!-- Cadastro de Porteiros-->
    <div class="container">
      <main>
        <p>Remover Porteiros</p>
        <form action="/carregar-porteiro" id="remover-porteiros" method="POST">
          <fieldset>
            
            <div class="form-row" style="align-items: flex-end;">
              <div class="col-12 col-md-8">
                <div class="select-block">
                  <label for="turno" style="font-weight: 700; color: var(--cyan);">Selecionar Funcionário</label>
                  <select class="form-control browser-default custom-select " name="funcionario" style="background-color: var(--alter);">
                    <option value="">Selecione o Funcionário</option>
                    {%for funcionario in funcionarios %}
                      <option value="{{funcionario.id_func}}" >
                          {{funcionario.nome}} {{funcionario.sobrenome}}
                      </option>
                      {%endfor%}
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mb-2 btn-rounded py-0 px-4" id="cadCorrespondencia"style="height: 2.35rem;margin-bottom: 0!important;">Buscar Funcionário</button>
              
            </div>
                    
          </fieldset>
                      
         
        </form>
        <form action="/remover-porteiros" method="POST">
          <fieldset>
            <div class="group-dados">

              <div class="input-block">
                <label for="idFunc"> ID </label>
                <input name="idFunc" id="idFunc" value= "{{porteiroid}} "readonly>
              </div>
              <div class="input-block">
                <label for="nome">Nome </label>
                <input name="nome" id="nome" value= "{%for func in porteiro%}
                {{func.nome}}
                {%endfor%} "readonly>
              </div>
    
              <div class="input-block">
                <label for="sobrenome">Sobrenome </label>
                <input name="sobrenome" id="sobrenome" value= "{%for func in porteiro%}
                {{func.sobrenome}}
                {%endfor%} "readonly>
              </div>
  
            </div>
            <legend> Dados do Funcionário </legend>
            <div class="group-dados">
              <div class="input-block">
                <label for="turno">Período de Trabalho</label>
                <input name="turnoFunc" id="turnoFunc" placeholder = "{%for func in porteiro%}
                {{func.turno}}
                {%endfor%} " readonly>
              </div>
                
              <div class="input-block">
              <label style="font-weight: 700; color: var(--cyan);">Data de  Término</label>
              <input id="data-inicio" type="date" readonly style="background-color: var(--alter);">
              </div>

              <div class="select-block">
                <label for="statusFunc" style="font-weight: 700; color: var(--cyan);">Status do Funcionário</label>
                <select class="form-control browser-default custom-select " name="statusFunc" required style="background-color: var(--alter);">
                  <option value="">Selecione o Status</option>
                  <option value="1">Inativo</option>
                  
                </select>
            </div>
            
            </div>
          
          </fieldset>


          <div class="buttons" style="text-align: right;margin-top: 2rem;">
            <button type="submit" class="btn btn-cyan mb-2 btn-rounded" id="cadPorteiro">Remover Porteiro</button>
          </div>
        </form>
      </br>
      </main>
  
    </div>
	

  
    <!--  -->

		
    <script src="https://kit.fontawesome.com/00651707e2.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap-4.0.0.js"></script>
		
		
	</body>
	
</html>