<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content=" initial-scale = 1, shrink-to-fit=no">
    <title>SV - Sindico</title>
    <link rel="icon" type="imagem/png" href="images/s_v_shield.png" />
		<link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
		<link href="css/mdb.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin.min.css" rel="stylesheet" type="text/css">
    <link href="css/partials/submit.css" rel="stylesheet" type="text/css">
    <link href="css/partials/forms.css" rel="stylesheet" type="text/css">		
	</head>

	<body id="page-give-security">
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg blue-gradient navbar-dark">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#"><img src="images/s_v_shield.png" alt=""></a>
      <!-- Sindico X -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
            Olá, {%for sindico in sindico %}
            {{sindico.nome}}
            {%endfor%}
          </a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/trocar-Senha">Alterar Senha</a>
            <a class="dropdown-item" href="/selecionar-acesso">Trocar o Perfil</a>
            <a class="dropdown-item" href="/">Sair</a>
          </div>
        </li>
      </ul>
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/sindico">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- Dropdown Cadastros-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
            <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-label ">Porteiro</span></a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="cadastro-porteiros">Cadastrar Porteiro</a>
                <a class="dropdown-item" tabindex="-1" href="remover-porteiros">Remover Porteiro</a>
              </ul>
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="nav-label ">Proprietários</span></a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="cadastro-proprietarios">Cadastrar Proprietários</a>
              </ul>
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-label ">Síndico/Subsíndico</span></a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="subsindico">Cadastrar Subsíndico</a>
                <a class="dropdown-item" tabindex="-1" href="cadastro-sindico">Cadastrar Novo Síndico</a>
              </ul>
            </div>
          </li>

          <!-- Dropdown Históricos-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Históricos
            </a>
            <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-label ">Correspondências </span>
              </a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="/recebimento-Portaria">Recebimentos e Retiradas</a>
                <!-- <a class="dropdown-item" tabindex="-1" href="/retirada-moradores">Retirada dos Moradores</a> -->
              </ul>
              <a href="#" class="nav-item dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-label ">Acessos</span>
              </a>
              <ul class="dropdown-menu-right dropdown-secondary  " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" tabindex="-1" href="/acessos-agendados">Acessos Agendados</a>
                <a class="dropdown-item" tabindex="-1" href="/entrada-saida">Entrada/Saída </a>
              </ul>
            </div>
          </li>
          <!-- Reclamações-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Reclamações</a>
            <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/consultar-reclamacao">Consultar Reclamações</a>
              <a class="dropdown-item" href="/enviar-avisos">Enviar Avisos</a>
            </div>
          </li>
          <!-- Requerimentos-->
          <li class="nav-item dropdown">
            <a class="nav-link" href="/requerimentos">Requerimentos</a>
          </li>
          <!-- <li class="nav-item dropdown ml-2">
            <a class="nav-link" href="/perfil-acesso-adm">Perfil de acesso <i class="fas fa-book"></i></a>
          </li> -->
        </ul>

      </div>
      <!-- Collapsible content -->
    </nav>
    <!-- Cadastro/Alteração Subsindico -->
    <div class="container">
      <main>
        <p>Cadastro de Subsíndico </p>
        <form action="/subsindico" id="cadastro-subsindico" method="POST">
          <fieldset>
            <legend>Selecionar Morador</legend>
              <div class="form-row" style="align-items: flex-end;">
                <div class="col-12 col-md-8">
                  <div class="select-block">
                    <label for="morador" >Morador</label>
                    <select class="form-control browser-default custom-select " name="morador" id="sel-morador-subsindico">
                      <option value="" disabled selected>Selecione o Morador</option>
                      {%for morador in moradores %}
                      <option value="{{morador.id_morador}}" >
                        {{morador.nome}} {{morador.sobrenome}}
                      </option>
                      {%endfor%}
                    </select>
                  </div>
                </div>
               
              </div>
          </fieldset>
       
          
            <div class="buttons" style="text-align: right;margin-top: 2rem;">
              <button type="button" class="btn btn-primary mb-2 btn-rounded" id="cadSindico" data-toggle="modal" data-target="#confirmacaoCadastro" onclick="nome()">Cadastrar</button>
            </div>

          <!-- inicio do Modal de confirmação -->
          <div class="modal fade" name="confirmacaoCadastro" id="confirmacaoCadastro" tabindex="-1" aria-labelledby="confirmacaoCadastro" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title" id="exampleModalLabel">Confirmação</p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>
                    Tem certeza que quer eleger <b><span id="nomeCondomino"></span></b> como <b>Sub-Síndico(a)</b>?
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                  <button type="submit" class="btn btn-primary">Sim</button>
                </div>
              </div>
            </div>
          </div>
          <!-- fim do modal  -->




        </form>
      </br>
      </main>
    </div>
    <!--  -->
    <script src="https://kit.fontawesome.com/00651707e2.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.0.0.js"></script>		
    <script>
      function nome(){
        var texto = $('#sel-morador-subsindico :selected').text();
        console.log(texto);
        document.getElementById("nomeCondomino").textContent = texto;
      }
    </script>
	</body>
</html>